* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f6f8fc;
    /* background-color: rgb(246, 248, 252); opcional*/
}


.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem; 
    background-color: #fff;

}


 /* Daqui para cima está revisado  */


@media screen and (min-width: 992px) {
    .content {
    max-width: 992px;
    height: auto;
    margin: 1rem auto;
    border-radius: 1rem;
    }
  }
